#messageContainer {
    padding: 25px;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    font-family: 'Amazon Ember', sans-serif;
    z-index: 99;
    width: 270px;
    margin: auto;
}


p {
    margin: 0;
}
