/* @font-face {
    font-family: 'Amazon Ember';
    src: url("https://m.media-amazon.com/images/G/01/ADT/Web/ADT-Campaign-NewellBTS/AmazonEmberCd_W_Rg.woff") format("woff"),
    url("https://m.media-amazon.com/images/G/01/ADT/Web/ADT-Campaign-NewellBTS/AmazonEmberCd_W_Rg.woff2") format("woff2")
} */

#messageContainer {
  padding: 20px;
  border-radius: 100px;
  background: #fff;
  text-align: center;
  font-family: "Amazon Ember", sans-serif;
  z-index: 999;
  width: 200px;
  margin: auto;
  background: #ffffff;
  opacity: 0;
  backdrop-filter: blur(14px);
  font-size: 12px;

  position: absolute;
  bottom: 50px;
  left: calc(50% - 107.5px);
}

.visible {
    opacity: .9 !important;
    animation: rise .5s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}


p {
  margin: 0;
}

.progressBar {
  display: flex;
  flex-direction: column;
  width: 100px;
  position: absolute;
  right: 15px;
  top: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.progressBar img {
  width: 35px;
}

.found {
animation: found .35s ease-in-out;
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }


   70% {
    opacity: 0.9;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes found {
  0% {
   transform: scale(1) ;
  }

  50% {
   transform: scale(1.12);
  }

  100% {
   transform: scale(1);

  }
}

